CONFIG_DRIVER_CLUSTER=y
CONFIG_DRIVER_CLUSTER_CONF_PROPERTY_ICACHE_CONF=0x7FF
CONFIG_ENABLE_LIBMATH=y
CONFIG_LIB_GAP_LIB=y
CONFIG_LIB_GAP_LIB_IMG_IO=y

CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL="-O3"
CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL="-O3"
CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL="-O3"
CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL="-O3"

CONFIG_IO_PRINTF_FLOAT_ENABLE=y
CONFIG_IO_PRINTF_FLOAT_EXPONENT_ENABLE=y
